<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper_api.UserSayMapper">

    <!--新增微博-->
    <insert id="addSay" parameterType="com.graduation.model.UserSay">
        insert into usersay(
        userId,text,picUrl,moment,address,thumb,discuss,userName,userUrl,sayType
        )
        values (
        #{userId},#{text},#{picUrl},#{moment},#{address},#{thumb},#{discuss},#{userName},
        #{userUrl},#{sayType}
        )
    </insert>

    <!--根据id查询所有微博-->
    <select id="allsay" parameterType="map" resultType="com.graduation.model.UserSay">
        select * from usersay where userId = #{userId}
    </select>

    <!--根据id查询所有微博数量-->
    <select id="sayNum" parameterType="map" resultType="Integer">
        select count(1) from usersay where userId = #{userId}
    </select>

    <!--删除微博-->
    <delete id="delsay" parameterType="map">
        delete from usersay where  textId = #{textId}
    </delete>
</mapper>